spring:
    datasource:
        driverClassName: org.postgresql.Driver
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
    jpa:
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    liquibase:
        change-log: classpath:db/db.changelog-master.yml
weather:
    api-url: http://api.weatherapi.com/v1/current.json
    api-key: ${WEATHER_API_KEY}
    q: Minsk
    aqi: no
    request-rate: 0 0 * * * *